html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}

.barra {
    background-color: #0063B1;
}
.padre i {
    margin-right: 1.5rem;
}
.navegacion {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.navegacion a {
    padding: 1rem;
    display: block;
}
@media (min-width:768px ) {
    .navegacion {
        flex-direction: row;
    }
}
.enlace {
    overflow: hidden;
}
.enlace:target .submenu {
    max-height: 300px;
}

@media (min-width:768px ) {
    .enlace {
        flex: 1;
        position: relative;
        overflow: visible;
    }
    .enlace .submenu {
        position: absolute;
        width: 100%;
    }
}

.submenu {
    background-color: #4C4A48;
    max-height: 0;
    transition: .8s;
}
@media (min-width:768px) {
    .submenu a {
        display: none;
    }
    .enlace:target .submenu a {
        display: block;
    }
}
.submenu a:hover {
    background-color: rgb(58,58,57);
}